<%- include('../partials/head', {titleName: "500"}) %>
<body>
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex flex-column align-items-center p-5">
                    <h1 class="pb-3">
                        Oops!
                    </h1>
                    <h2 class="pb-3">
                        500
                    </h2>
                    <div class="error-details pb-3">
                        This page isn't working =(
                    </div>
                    <div class="error-actions">
                        <a href="/" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-home"></span>
                            Take Me Home 
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
    </footer>
    <%- include('../partials/scripts') %> 
<!--the include ends body -->
<%- include('../partials/bottom') %> 