<%- include('../partials/head', {titleName: "Add Location"}) %>
<body class="h-100 bg-primary position-relative">
  <main class="container-fluid h-100 pt-5">
    <div class="rt-link">
      <a href="/" id="home" name="home" class="btn btn-secondary"
      >HOME</a>
    </div>
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h2 class="text-center mb-4">Add Location</h2>

          <form
            action="/addLocation"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <label class="form-label">Location Name</label>
              <input
                type="text"
                class="form-control"
                name="locationName"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Description</label>
              <input
                type="text"
                class="form-control"
                name="description"
                required
              />
            </div>
            <div class="mb-3">
              <label>Upload image:</label>
              <input type="file" name="uploaded_file" required />
            </div>
            <div class="d-grid gap-2">
              <input
                type="submit"
                class="btn btn-primary btn-block"
                value="Upload">
              <a href="/" id="cancel" name="cancel" class="btn btn-secondary"
                >Cancel</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <div class="toast-container position-absolute top-0 end-0 p-3">
    <!-- Then put toasts within -->
    <div
      id="message"
      class="toast bg-danger align-items-center"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="d-flex">
        <div class="toast-body text-white">
          <%= message %>
        </div>
        <button
          type="button"
          class="btn-close me-2 m-auto"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
    </div>
  </div>

  <footer></footer>
  <%- include('../partials/scripts') %>
  <!--the include ends body -->
  <%- include('../partials/bottom') %>
</body>
